<div class="container">
  <h4 class="text-center">Our Services</h4>
<h3 class="text-center">We provide the best quality service</h3>
<p class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate cumque earum dolorum placeat, voluptate possimus eaque expedita voluptatibus, nemo quam eveniet veniam aperiam ratione quas reprehenderit doloribus perferendis quibusdam exercitationem.</p>
<!-- cards -->
<div class="row wow  cardz">
  <div class="col-lg-4 col-md-12 ">
      <div  class="card my-card">
          <div class="card-body bg-warning text-white text-center">
             <i class="fab fa-app-store font  "></i>
             <h5 class="mt-3">Website UI</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo placeat, nulla delectus suscipit accusamus aperiam tempora eveniet sunt ullam dolorem ipsum magni eum quos modi ab totam id dolore omnis.</p>
            
            <a href="#" class="btn btn-transparent border border-white rounded-pill text-white">Read More</a>
          </div>
        </div>
  </div>
  <div class="col-lg-4 col-md-12 ">
      <div  class="card my-card">
          <div class="card-body bg-info text-white text-center">
            <i class="fas fa-drafting-compass font"></i>
            <h5 class="mt-3">ReDesign</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo placeat, nulla delectus suscipit accusamus aperiam tempora eveniet sunt ullam dolorem ipsum magni eum quos modi ab totam id dolore omnis.</p>
            
            <a href="#" class="btn btn-transparent border border-white rounded-pill text-white ">Read More</a>
          </div>
        </div>
  </div>
  <div class="col-lg-4 col-md-12 ">
      <div  class="card my-card ">
          <div id="card-color" class="card-body text-white text-center ">
            <i class="fas fa-mobile-alt font"></i>
            <h5 class="mt-3">Website UI</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo placeat, nulla delectus suscipit accusamus aperiam tempora eveniet sunt ullam dolorem ipsum magni eum quos modi ab totam id dolore omnis.</p>
            
            <a href="#" class="btn btn-transparent border border-white rounded-pill text-white">Read More</a>
          </div>
        </div>
  </div>
  <div class="col-lg-4 col-md-12 ">
      <div  class="card my-card">
          <div class="card-body bg-primary text-white text-center">
            <i class="fab fa-twitter font"></i>
            <h5 class="mt-3">Mobile App UI</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo placeat, nulla delectus suscipit accusamus aperiam tempora eveniet sunt ullam dolorem ipsum magni eum quos modi ab totam id dolore omnis.</p>
            
            <a href="#" class="btn btn-transparent border border-white rounded-pill text-white ">Read More</a>
          </div>
        </div>
  </div>
  <div class="col-lg-4 col-md-12 ">
      <div  class="card my-card">
          <div class="card-body bg-danger text-white text-center">
            <i class="far fa-newspaper font"></i>
            <h5 class="mt-3">Web App UI </h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo placeat, nulla delectus suscipit accusamus aperiam tempora eveniet sunt ullam dolorem ipsum magni eum quos modi ab totam id dolore omnis</p>
            <a href="#" class="btn btn-transparent border border-white rounded-pill  text-white">Read More</a>
          </div>
        </div>
  </div>
  <div class="col-lg-4 col-md-12 ">
      <div  class="card my-card">
          <div class="card-body bg-success text-white text-center">
            <i class="fab fa-elementor font"></i>
            <h5 class="mt-3">Web Elements</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo placeat, nulla delectus suscipit accusamus aperiam tempora eveniet sunt ullam dolorem ipsum magni eum quos modi ab totam id dolore omnis.</p>
            <a href="#" class="btn btn-transparent border border-white rounded-pill text-white ">Read More</a>
          </div>
        </div>
  </div>
</div>
</div>